@import "@elastic/eui/dist/eui_theme_dark.css";
@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-alpine.css";

.theia-icon {
    background-image: url("../icons/theia.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#theia-main-content-panel {
    background-image: url("../icons/theia.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 15%;
}

.unclosable-window-icon {
    -webkit-mask: url("window-icon.svg");
    mask: url("window-icon.svg");
}

.theia-notifications-container {
    z-index: 10000 !important;
}
