.flowda {
    .theia-icon {
        height: 21px;
        background-image: url("logo.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    #theia-main-content-panel {
        background-image: url("../icons/linear.avif");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 15%;
    }

}

.unclosable-window-icon {
    -webkit-mask: url("window-icon.svg");
    mask: url("window-icon.svg");
}
