.flowda {
    .ag-root-wrapper {
        border: unset;
        border-radius: unset;
    }
}

.grid-reference-field {
    display: inline-block;
    height: 100%;
    padding-left: 12px;
    padding-right: 12px;
}
