.flowda {
    .p-Menu {
        background-color: var(--ag-control-panel-background-color);
    }

    .p-Menu-item.p-mod-active>div {
        background-color: var(--ag-row-hover-color);
    }

    .p-Widget.dialogOverlay {
        .dialogTitle {
            background: unset;
            padding: calc(var(--theia-ui-padding) * 2);
        }

        .dialogControl {
            border-top: 1px solid var(--theia-menu-border);
        }
    }

    .theia-notifications-container {
        z-index: 10000 !important;
    }

    /* 整体 box-sizing: border-box 后 这个样式需要 unset 下 */

    .p-TabBar-tabCloseIcon.action-label,
    .p-TabBar-tabIcon.codicon {
        box-sizing: unset;
    }

    .quick-input-widget {
        box-shadow: 0 1px 6px var(--theia-widget-shadow);
        border: 1px solid var(--theia-menu-border);
        border-radius: 5px;
    }

    .monaco-inputbox>.ibwrapper>.input {
        line-height: var(--theia-quickInput-rowHeight);
        height: var(--theia-quickInput-rowHeight);
    }

    .quick-input-list-row,
    .quick-input-list-separator {
        line-height: var(--theia-quickInput-rowHeight);
    }

    #theia-main-content-panel .p-TabBar.theia-tabBar-active .p-TabBar-tab.p-mod-current {
        border-top: 2px solid var(--theia-button-background);
    }
}

.custom-avatar-wrapper {
    &:hover {
        background: var(--theia-menubar-selectionBackground);
    }

    border-radius: 4px;
    margin: 8px;
    cursor: pointer;
    padding: 8px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    line-height: 0;
    flex-shrink: 0;
    aspect-ratio: 1 / 1;
    width: 32px;
    height: 32px;
    font-size: 9px;
}

.custom-avatar {
    transform: translate(-50%, 50%);
    left: 50%;
    bottom: 50%;
    position: absolute;
    box-sizing: border-box;
    display: flex;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    color: rgb(255, 255, 255);
    background-color: rgb(192, 109, 37);
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: opacity 0.2s ease-in-out 0s;
}
