/* 目前 theia 生成的 css 变量 */
:root {
    --theia-foreground: #cccccc;
    --theia-disabledForeground: rgba(204, 204, 204, 0.5);
    --theia-errorForeground: #f48771;
    --theia-descriptionForeground: rgba(204, 204, 204, 0.7);
    --theia-icon-foreground: #c5c5c5;
    --theia-focusBorder: #575bc7;
    --theia-selection-background: #217daf;
    --theia-textSeparator-foreground: rgba(255, 255, 255, 0.18);
    --theia-textLink-foreground: #575bc7;
    --theia-textLink-activeForeground: #3794ff;
    --theia-textPreformat-foreground: #d7ba7d;
    --theia-textBlockQuote-background: rgba(127, 127, 127, 0.1);
    --theia-textBlockQuote-border: rgba(0, 122, 204, 0.5);
    --theia-textCodeBlock-background: rgba(10, 10, 10, 0.4);
    --theia-widget-shadow: rgba(0, 0, 0, 0.36);
    --theia-input-background: #3c3c3c;
    --theia-input-foreground: #cccccc;
    --theia-inputOption-activeBorder: rgba(0, 122, 204, 0);
    --theia-inputOption-hoverBackground: rgba(90, 93, 94, 0.5);
    --theia-inputOption-activeBackground: rgba(87, 91, 199, 0.4);
    --theia-inputOption-activeForeground: #ffffff;
    --theia-input-placeholderForeground: #a6a6a6;
    --theia-inputValidation-infoBackground: #063b49;
    --theia-inputValidation-infoBorder: #007acc;
    --theia-inputValidation-warningBackground: #352a05;
    --theia-inputValidation-warningBorder: #b89500;
    --theia-inputValidation-errorBackground: #5a1d1d;
    --theia-inputValidation-errorBorder: #be1100;
    --theia-dropdown-background: #3c3c3c;
    --theia-dropdown-foreground: #f0f0f0;
    --theia-dropdown-border: #3c3c3c;
    --theia-checkbox-background: #3c3c3c;
    --theia-checkbox-foreground: #f0f0f0;
    --theia-checkbox-border: #3c3c3c;
    --theia-button-foreground: #ffffff;
    --theia-button-separator: rgba(255, 255, 255, 0.4);
    --theia-button-background: #0e639c;
    --theia-button-hoverBackground: #1177bb;
    --theia-button-secondaryForeground: #ffffff;
    --theia-button-secondaryBackground: #3a3d41;
    --theia-button-secondaryHoverBackground: #45494e;
    --theia-badge-background: #4d4d4d;
    --theia-badge-foreground: #ffffff;
    --theia-scrollbar-shadow: #000000;
    --theia-scrollbarSlider-background: rgba(121, 121, 121, 0.4);
    --theia-scrollbarSlider-hoverBackground: rgba(100, 100, 100, 0.7);
    --theia-scrollbarSlider-activeBackground: rgba(191, 191, 191, 0.4);
    --theia-progressBar-background: #0e70c0;
    --theia-editorError-foreground: #f14c4c;
    --theia-editorWarning-foreground: #cca700;
    --theia-editorInfo-foreground: #3794ff;
    --theia-editorHint-foreground: rgba(238, 238, 238, 0.7);
    --theia-sash-hoverBorder: #575bc7;
    --theia-editor-background: #191a23;
    --theia-editor-foreground: #d4d4d4;
    --theia-editorStickyScroll-background: #191a23;
    --theia-editorStickyScrollHover-background: #2a2d2e;
    --theia-editorWidget-background: #252526;
    --theia-editorWidget-foreground: #cccccc;
    --theia-editorWidget-border: #454545;
    --theia-quickInput-background: #252526;
    --theia-quickInput-foreground: #cccccc;
    --theia-quickInputTitle-background: rgba(255, 255, 255, 0.1);
    --theia-pickerGroup-foreground: #3794ff;
    --theia-pickerGroup-border: #3f3f46;
    --theia-keybindingLabel-background: rgba(128, 128, 128, 0.17);
    --theia-keybindingLabel-foreground: #cccccc;
    --theia-keybindingLabel-border: rgba(51, 51, 51, 0.6);
    --theia-keybindingLabel-bottomBorder: rgba(68, 68, 68, 0.6);
    --theia-editor-selectionBackground: #264f78;
    --theia-editor-inactiveSelectionBackground: #3a3d41;
    --theia-editor-selectionHighlightBackground: rgba(173, 214, 255, 0.15);
    --theia-editor-findMatchBackground: #515c6a;
    --theia-editor-findMatchHighlightBackground: rgba(234, 92, 0, 0.33);
    --theia-editor-findRangeHighlightBackground: rgba(58, 61, 65, 0.4);
    --theia-searchEditor-findMatchBackground: rgba(234, 92, 0, 0.22);
    --theia-editor-hoverHighlightBackground: rgba(38, 79, 120, 0.25);
    --theia-editorHoverWidget-background: #252526;
    --theia-editorHoverWidget-foreground: #cccccc;
    --theia-editorHoverWidget-border: #454545;
    --theia-editorHoverWidget-statusBarBackground: #2c2c2d;
    --theia-editorLink-activeForeground: #4e94ce;
    --theia-editorInlayHint-foreground: #ffffff;
    --theia-editorInlayHint-background: rgba(77, 77, 77, 0.8);
    --theia-editorInlayHint-typeForeground: #ffffff;
    --theia-editorInlayHint-typeBackground: rgba(77, 77, 77, 0.8);
    --theia-editorInlayHint-parameterForeground: #ffffff;
    --theia-editorInlayHint-parameterBackground: rgba(77, 77, 77, 0.8);
    --theia-editorLightBulb-foreground: #ffcc00;
    --theia-editorLightBulbAutoFix-foreground: #75beff;
    --theia-diffEditor-insertedTextBackground: rgba(156, 204, 44, 0.2);
    --theia-diffEditor-removedTextBackground: rgba(255, 0, 0, 0.2);
    --theia-diffEditor-insertedLineBackground: rgba(155, 185, 85, 0.2);
    --theia-diffEditor-removedLineBackground: rgba(255, 0, 0, 0.2);
    --theia-diffEditor-diagonalFill: rgba(204, 204, 204, 0.2);
    --theia-list-focusOutline: #575bc7;
    --theia-list-activeSelectionBackground: #04395e;
    --theia-list-activeSelectionForeground: #ffffff;
    --theia-list-activeSelectionIconForeground: #ffffff;
    --theia-list-inactiveSelectionBackground: #37373d;
    --theia-list-hoverBackground: #2a2d2e;
    --theia-list-dropBackground: #383b3d;
    --theia-list-highlightForeground: #2aaaff;
    --theia-list-focusHighlightForeground: #2aaaff;
    --theia-list-invalidItemForeground: #b89500;
    --theia-list-errorForeground: #f88070;
    --theia-list-warningForeground: #cca700;
    --theia-listFilterWidget-background: #252526;
    --theia-listFilterWidget-outline: rgba(0, 0, 0, 0);
    --theia-listFilterWidget-noMatchesOutline: #be1100;
    --theia-listFilterWidget-shadow: rgba(0, 0, 0, 0.36);
    --theia-list-filterMatchBackground: rgba(234, 92, 0, 0.33);
    --theia-tree-indentGuidesStroke: #585858;
    --theia-tree-tableColumnsBorder: rgba(204, 204, 204, 0.13);
    --theia-tree-tableOddRowsBackground: rgba(204, 204, 204, 0.04);
    --theia-list-deemphasizedForeground: #8c8c8c;
    --theia-quickInputList-focusForeground: #ffffff;
    --theia-quickInputList-focusIconForeground: #ffffff;
    --theia-quickInputList-focusBackground: #04395e;
    --theia-menu-border: #454545;
    --theia-menu-foreground: #cccccc;
    --theia-menu-background: #252526;
    --theia-menu-selectionForeground: #ffffff;
    --theia-menu-selectionBackground: #04395e;
    --theia-menu-separatorBackground: #606060;
    --theia-toolbar-hoverBackground: rgba(90, 93, 94, 0.31);
    --theia-toolbar-activeBackground: rgba(99, 102, 103, 0.31);
    --theia-editor-snippetTabstopHighlightBackground: rgba(124, 124, 124, 0.3);
    --theia-editor-snippetFinalTabstopHighlightBorder: #525252;
    --theia-breadcrumb-foreground: rgba(204, 204, 204, 0.8);
    --theia-breadcrumb-background: #191a23;
    --theia-breadcrumb-focusForeground: #e0e0e0;
    --theia-breadcrumb-activeSelectionForeground: #e0e0e0;
    --theia-breadcrumbPicker-background: #252526;
    --theia-merge-currentHeaderBackground: rgba(64, 200, 174, 0.5);
    --theia-merge-currentContentBackground: rgba(64, 200, 174, 0.2);
    --theia-merge-incomingHeaderBackground: rgba(64, 166, 255, 0.5);
    --theia-merge-incomingContentBackground: rgba(64, 166, 255, 0.2);
    --theia-merge-commonHeaderBackground: rgba(96, 96, 96, 0.4);
    --theia-merge-commonContentBackground: rgba(96, 96, 96, 0.16);
    --theia-editorOverviewRuler-currentContentForeground: rgba(64, 200, 174, 0.5);
    --theia-editorOverviewRuler-incomingContentForeground: rgba(64, 166, 255, 0.5);
    --theia-editorOverviewRuler-commonContentForeground: rgba(96, 96, 96, 0.4);
    --theia-editorOverviewRuler-findMatchForeground: rgba(209, 134, 22, 0.49);
    --theia-editorOverviewRuler-selectionHighlightForeground: rgba(160, 160, 160, 0.8);
    --theia-minimap-findMatchHighlight: #d18616;
    --theia-minimap-selectionOccurrenceHighlight: #676767;
    --theia-minimap-selectionHighlight: #264f78;
    --theia-minimap-errorHighlight: rgba(255, 18, 18, 0.7);
    --theia-minimap-warningHighlight: #cca700;
    --theia-minimap-foregroundOpacity: #000000;
    --theia-minimapSlider-background: rgba(121, 121, 121, 0.2);
    --theia-minimapSlider-hoverBackground: rgba(100, 100, 100, 0.35);
    --theia-minimapSlider-activeBackground: rgba(191, 191, 191, 0.2);
    --theia-problemsErrorIcon-foreground: #f14c4c;
    --theia-problemsWarningIcon-foreground: #cca700;
    --theia-problemsInfoIcon-foreground: #3794ff;
    --theia-charts-foreground: #cccccc;
    --theia-charts-lines: rgba(204, 204, 204, 0.5);
    --theia-charts-red: #f14c4c;
    --theia-charts-blue: #3794ff;
    --theia-charts-yellow: #cca700;
    --theia-charts-orange: #d18616;
    --theia-charts-green: #89d185;
    --theia-charts-purple: #b180d7;
    --theia-editor-lineHighlightBorder: #282828;
    --theia-editor-rangeHighlightBackground: rgba(255, 255, 255, 0.04);
    --theia-editor-symbolHighlightBackground: rgba(234, 92, 0, 0.33);
    --theia-editorCursor-foreground: #aeafad;
    --theia-editorWhitespace-foreground: rgba(227, 228, 226, 0.16);
    --theia-editorIndentGuide-background: #404040;
    --theia-editorIndentGuide-activeBackground: #707070;
    --theia-editorLineNumber-foreground: #858585;
    --theia-editorActiveLineNumber-foreground: #c6c6c6;
    --theia-editorLineNumber-activeForeground: #c6c6c6;
    --theia-editorRuler-foreground: #5a5a5a;
    --theia-editorCodeLens-foreground: #999999;
    --theia-editorBracketMatch-background: rgba(0, 100, 0, 0.1);
    --theia-editorBracketMatch-border: #888888;
    --theia-editorOverviewRuler-border: rgba(127, 127, 127, 0.3);
    --theia-editorGutter-background: #191a23;
    --theia-editorUnnecessaryCode-opacity: rgba(0, 0, 0, 0.67);
    --theia-editorGhostText-foreground: rgba(255, 255, 255, 0.34);
    --theia-editorOverviewRuler-rangeHighlightForeground: rgba(0, 122, 204, 0.6);
    --theia-editorOverviewRuler-errorForeground: rgba(255, 18, 18, 0.7);
    --theia-editorOverviewRuler-warningForeground: #cca700;
    --theia-editorOverviewRuler-infoForeground: #3794ff;
    --theia-editorBracketHighlight-foreground1: #ffd700;
    --theia-editorBracketHighlight-foreground2: #da70d6;
    --theia-editorBracketHighlight-foreground3: #179fff;
    --theia-editorBracketHighlight-foreground4: rgba(0, 0, 0, 0);
    --theia-editorBracketHighlight-foreground5: rgba(0, 0, 0, 0);
    --theia-editorBracketHighlight-foreground6: rgba(0, 0, 0, 0);
    --theia-editorBracketHighlight-unexpectedBracket-foreground: rgba(255, 18, 18, 0.8);
    --theia-editorBracketPairGuide-background1: rgba(0, 0, 0, 0);
    --theia-editorBracketPairGuide-background2: rgba(0, 0, 0, 0);
    --theia-editorBracketPairGuide-background3: rgba(0, 0, 0, 0);
    --theia-editorBracketPairGuide-background4: rgba(0, 0, 0, 0);
    --theia-editorBracketPairGuide-background5: rgba(0, 0, 0, 0);
    --theia-editorBracketPairGuide-background6: rgba(0, 0, 0, 0);
    --theia-editorBracketPairGuide-activeBackground1: rgba(0, 0, 0, 0);
    --theia-editorBracketPairGuide-activeBackground2: rgba(0, 0, 0, 0);
    --theia-editorBracketPairGuide-activeBackground3: rgba(0, 0, 0, 0);
    --theia-editorBracketPairGuide-activeBackground4: rgba(0, 0, 0, 0);
    --theia-editorBracketPairGuide-activeBackground5: rgba(0, 0, 0, 0);
    --theia-editorBracketPairGuide-activeBackground6: rgba(0, 0, 0, 0);
    --theia-editorUnicodeHighlight-border: #bd9b03;
    --theia-editorUnicodeHighlight-background: rgba(189, 155, 3, 0.15);
    --theia-editorOverviewRuler-bracketMatchForeground: #a0a0a0;
    --theia-symbolIcon-arrayForeground: #cccccc;
    --theia-symbolIcon-booleanForeground: #cccccc;
    --theia-symbolIcon-classForeground: #ee9d28;
    --theia-symbolIcon-colorForeground: #cccccc;
    --theia-symbolIcon-constantForeground: #cccccc;
    --theia-symbolIcon-constructorForeground: #b180d7;
    --theia-symbolIcon-enumeratorForeground: #ee9d28;
    --theia-symbolIcon-enumeratorMemberForeground: #75beff;
    --theia-symbolIcon-eventForeground: #ee9d28;
    --theia-symbolIcon-fieldForeground: #75beff;
    --theia-symbolIcon-fileForeground: #cccccc;
    --theia-symbolIcon-folderForeground: #cccccc;
    --theia-symbolIcon-functionForeground: #b180d7;
    --theia-symbolIcon-interfaceForeground: #75beff;
    --theia-symbolIcon-keyForeground: #cccccc;
    --theia-symbolIcon-keywordForeground: #cccccc;
    --theia-symbolIcon-methodForeground: #b180d7;
    --theia-symbolIcon-moduleForeground: #cccccc;
    --theia-symbolIcon-namespaceForeground: #cccccc;
    --theia-symbolIcon-nullForeground: #cccccc;
    --theia-symbolIcon-numberForeground: #cccccc;
    --theia-symbolIcon-objectForeground: #cccccc;
    --theia-symbolIcon-operatorForeground: #cccccc;
    --theia-symbolIcon-packageForeground: #cccccc;
    --theia-symbolIcon-propertyForeground: #cccccc;
    --theia-symbolIcon-referenceForeground: #cccccc;
    --theia-symbolIcon-snippetForeground: #cccccc;
    --theia-symbolIcon-stringForeground: #cccccc;
    --theia-symbolIcon-structForeground: #cccccc;
    --theia-symbolIcon-textForeground: #cccccc;
    --theia-symbolIcon-typeParameterForeground: #cccccc;
    --theia-symbolIcon-unitForeground: #cccccc;
    --theia-symbolIcon-variableForeground: #75beff;
    --theia-peekViewTitle-background: rgba(55, 148, 255, 0.1);
    --theia-peekViewTitleLabel-foreground: #ffffff;
    --theia-peekViewTitleDescription-foreground: rgba(204, 204, 204, 0.7);
    --theia-peekView-border: #3794ff;
    --theia-peekViewResult-background: #252526;
    --theia-peekViewResult-lineForeground: #bbbbbb;
    --theia-peekViewResult-fileForeground: #ffffff;
    --theia-peekViewResult-selectionBackground: rgba(51, 153, 255, 0.2);
    --theia-peekViewResult-selectionForeground: #ffffff;
    --theia-peekViewEditor-background: #001f33;
    --theia-peekViewEditorGutter-background: #001f33;
    --theia-peekViewResult-matchHighlightBackground: rgba(234, 92, 0, 0.3);
    --theia-peekViewEditor-matchHighlightBackground: rgba(255, 143, 0, 0.6);
    --theia-editorMarkerNavigationError-background: #f14c4c;
    --theia-editorMarkerNavigationError-headerBackground: rgba(241, 76, 76, 0.1);
    --theia-editorMarkerNavigationWarning-background: #cca700;
    --theia-editorMarkerNavigationWarning-headerBackground: rgba(204, 167, 0, 0.1);
    --theia-editorMarkerNavigationInfo-background: #3794ff;
    --theia-editorMarkerNavigationInfo-headerBackground: rgba(55, 148, 255, 0.1);
    --theia-editorMarkerNavigation-background: #191a23;
    --theia-editor-foldBackground: rgba(38, 79, 120, 0.3);
    --theia-editorGutter-foldingControlForeground: #c5c5c5;
    --theia-editorSuggestWidget-background: #252526;
    --theia-editorSuggestWidget-border: #454545;
    --theia-editorSuggestWidget-foreground: #d4d4d4;
    --theia-editorSuggestWidget-selectedForeground: #ffffff;
    --theia-editorSuggestWidget-selectedIconForeground: #ffffff;
    --theia-editorSuggestWidget-selectedBackground: #04395e;
    --theia-editorSuggestWidget-highlightForeground: #2aaaff;
    --theia-editorSuggestWidget-focusHighlightForeground: #2aaaff;
    --theia-editorSuggestWidgetStatus-foreground: rgba(212, 212, 212, 0.5);
    --theia-editor-linkedEditingBackground: rgba(255, 0, 0, 0.3);
    --theia-editorHoverWidget-highlightForeground: #2aaaff;
    --theia-editor-wordHighlightBackground: rgba(87, 87, 87, 0.72);
    --theia-editor-wordHighlightStrongBackground: rgba(0, 73, 114, 0.72);
    --theia-editorOverviewRuler-wordHighlightForeground: rgba(160, 160, 160, 0.8);
    --theia-editorOverviewRuler-wordHighlightStrongForeground: rgba(192, 160, 192, 0.8);
    --theia-sash-activeBorder: #575bc7;
    --theia-activityBar-background: #191a23;
    --theia-activityBar-foreground: #ffffff;
    --theia-activityBar-inactiveForeground: rgba(255, 255, 255, 0.4);
    --theia-activityBar-border: #2c2d3c;
    --theia-activityBar-activeBorder: #ffffff;
    --theia-activityBar-dropBackground: rgba(255, 255, 255, 0.12);
    --theia-activityBarBadge-background: #007acc;
    --theia-activityBarBadge-foreground: #ffffff;
    --theia-sideBar-background: #191a23;
    --theia-sideBarSectionHeader-background: rgba(0, 0, 0, 0);
    --theia-sideBarSectionHeader-border: rgba(204, 204, 204, 0.2);
    --theia-tree-inactiveIndentGuidesStroke: rgba(88, 88, 88, 0.4);
    --theia-editorGroup-border: #444444;
    --theia-editorGroup-dropBackground: rgba(83, 89, 93, 0.5);
    --theia-editorGroupHeader-tabsBackground: #20212e;
    --theia-tab-activeBackground: #191a23;
    --theia-tab-unfocusedActiveBackground: #191a23;
    --theia-tab-inactiveBackground: #2b2d3e;
    --theia-tab-activeForeground: #ffffff;
    --theia-tab-inactiveForeground: rgba(255, 255, 255, 0.5);
    --theia-tab-unfocusedActiveForeground: rgba(255, 255, 255, 0.5);
    --theia-tab-unfocusedInactiveForeground: rgba(255, 255, 255, 0.25);
    --theia-tab-border: #252526;
    --theia-tab-activeModifiedBorder: #3399cc;
    --theia-tab-inactiveModifiedBorder: rgba(51, 153, 204, 0.5);
    --theia-tab-unfocusedActiveModifiedBorder: rgba(51, 153, 204, 0.5);
    --theia-tab-unfocusedInactiveModifiedBorder: rgba(51, 153, 204, 0.25);
    --theia-statusBar-foreground: #ffffff;
    --theia-statusBar-background: #191a23;
    --theia-statusBar-noFolderForeground: #ffffff;
    --theia-statusBar-noFolderBackground: #68217a;
    --theia-statusBar-border: #2c2d3c;
    --theia-statusBar-noFolderBorder: #2c2d3c;
    --theia-statusBarItem-activeBackground: rgba(255, 255, 255, 0.18);
    --theia-statusBarItem-hoverBackground: rgba(255, 255, 255, 0.12);
    --theia-statusBarItem-errorBackground: #361111;
    --theia-statusBarItem-errorForeground: #ffffff;
    --theia-statusBarItem-warningBackground: #7a6400;
    --theia-statusBarItem-warningForeground: #ffffff;
    --theia-panel-background: #191a23;
    --theia-panel-border: rgba(128, 128, 128, 0.35);
    --theia-panel-dropBackground: rgba(255, 255, 255, 0.12);
    --theia-panelTitle-activeForeground: #e7e7e7;
    --theia-panelTitle-inactiveForeground: rgba(231, 231, 231, 0.6);
    --theia-panelTitle-activeBorder: #e7e7e7;
    --theia-imagePreview-border: rgba(128, 128, 128, 0.35);
    --theia-titleBar-activeForeground: #cccccc;
    --theia-titleBar-inactiveForeground: rgba(204, 204, 204, 0.6);
    --theia-titleBar-activeBackground: #191a23;
    --theia-titleBar-inactiveBackground: rgba(25, 26, 35, 0.6);
    --theia-titleBar-border: #2c2d3c;
    --theia-menubar-selectionForeground: #cccccc;
    --theia-menubar-selectionBackground: rgba(90, 93, 94, 0.31);
    --theia-welcomePage-buttonBackground: rgba(0, 0, 0, 0.2);
    --theia-welcomePage-buttonHoverBackground: rgba(200, 235, 255, 0.07);
    --theia-walkThrough-embeddedEditorBackground: rgba(0, 0, 0, 0.4);
    --theia-settings-headerForeground: #e7e7e7;
    --theia-settings-modifiedItemIndicator: #0c7d9d;
    --theia-settings-dropdownBackground: #3c3c3c;
    --theia-settings-dropdownForeground: #f0f0f0;
    --theia-settings-dropdownBorder: #3c3c3c;
    --theia-settings-dropdownListBorder: #454545;
    --theia-settings-checkboxBackground: #3c3c3c;
    --theia-settings-checkboxForeground: #f0f0f0;
    --theia-settings-checkboxBorder: #3c3c3c;
    --theia-settings-textInputBackground: #3c3c3c;
    --theia-settings-textInputForeground: #cccccc;
    --theia-settings-numberInputBackground: #3c3c3c;
    --theia-settings-numberInputForeground: #cccccc;
    --theia-settings-focusedRowBackground: rgba(128, 128, 128, 0.14);
    --theia-settings-rowHoverBackground: rgba(128, 128, 128, 0.07);
    --theia-settings-focusedRowBorder: rgba(255, 255, 255, 0.12);
    --theia-variable-name-color: #c586c0;
    --theia-variable-value-color: rgba(204, 204, 204, 0.6);
    --theia-variable-number-variable-color: #b5cea8;
    --theia-variable-boolean-variable-color: #4e94ce;
    --theia-variable-string-variable-color: #ce9178;
    --theia-ansi-black-color: #a0a0a0;
    --theia-ansi-red-color: #a74747;
    --theia-ansi-green-color: #348f34;
    --theia-ansi-yellow-color: #5f4c29;
    --theia-ansi-blue-color: #6286bb;
    --theia-ansi-magenta-color: #914191;
    --theia-ansi-cyan-color: #218d8d;
    --theia-ansi-white-color: #707070;
    --theia-errorBackground: #5a1d1d;
    --theia-warningBackground: #cca700;
    --theia-warningForeground: #352a05;
    --theia-statusBar-offlineBackground: #cca700;
    --theia-statusBar-offlineForeground: #191a23;
    --theia-statusBarItem-offlineHoverBackground: #ffd61f;
    --theia-statusBarItem-offlineActiveBackground: #ffdd47;
    --theia-statusBarItem-remoteBackground: #16825d;
    --theia-statusBarItem-remoteForeground: #ffffff;
    --theia-secondaryButton-foreground: #f0f0f0;
    --theia-secondaryButton-disabledForeground: rgba(240, 240, 240, 0.5);
    --theia-secondaryButton-background: #5a5a5a;
    --theia-secondaryButton-hoverBackground: #6c6c6c;
    --theia-secondaryButton-disabledBackground: rgba(90, 90, 90, 0.6);
    --theia-button-disabledForeground: rgba(255, 255, 255, 0.5);
    --theia-button-disabledBackground: rgba(14, 99, 156, 0.5);
    --theia-editorGutter-commentRangeForeground: #c5c5c5;
    --theia-mainToolbar-background: #1c1d27;
    --theia-mainToolbar-foreground: #e6e6e6;
    --theia-editorHoverWidgetInternalBorder: rgba(69, 69, 69, 0.5);
    --theia-notifications-foreground: #cccccc;
    --theia-notifications-background: #252526;
    --theia-notificationLink-foreground: #575bc7;
    --theia-notificationCenterHeader-background: #303031;
    --theia-notifications-border: #303031;
    --theia-notificationsErrorIcon-foreground: #f14c4c;
    --theia-notificationsWarningIcon-foreground: #cca700;
    --theia-notificationsInfoIcon-foreground: #3794ff;
}
